h1 {
    text-align: center;
    font-family: 'Staatliches', sans-serif;
    font-size: 60px;
}

#score {
    width: 100%;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
}

.game {
    width: 100%;
    text-align: center;
}

canvas {
    display: inline;
}

#startButton {
    visibility: visible;
}

#restartButton {
    visibility: visible;
}